[[source]]
name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true

[requires]
python_version = "3.7"

[packages]
sphinx-autobuild = "*"
sphinx = "*"
sphinx_rtd_theme = "*"
recommonmark = "*"
rstcheck = "*"

[pipenv]
allow_preleases = true
